body {
  background: linear-gradient(90deg, #a47451 0%, #9c9881 16.667%, #73a09d 33.333%, #3b899a 50%, #095b79 66.667%, #002847 83.333%, #000116 100%);
}

h1 {
  font-size: 100px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
